<block name="content">
    <style>
        #admin-modify{
            display: none;
        }
    </style>
    <!-- 管理者列表 -->
    <div class="row-fluid sortable ui-sortable" id="admin-list">
        <div class="box span12">
            <div class="box-header" data-original-title="">
                <h2><i class="halflings-icon white user"></i><span class="break"></span>管理者列表</h2>
                <div class="box-icon">
                    <a href="javascript:void(0)" class="btn-minimize">
                        <i class="halflings-icon white chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="box-content">
                <div class="dataTables_wrapper" role="grid">
                    <div class="dataTables_filter" id="DataList_filter">
                        <!--<label>搜索 <input type="text" aria-controls="DataList"></label>-->
                    </div>
                    <!--<div id="DataList_processing" class="dataTables_processing" style="visibility: hidden;">正在加载中...</div>-->
                    <div class="dataTables_scroll">
                        <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                            <div class="dataTables_scrollHeadInner" style="width: 1548px; padding-right: 0px;">
                                <table class="table table-striped table-bordered bootstrap-datatable dataTable" style="margin-left: 0px; width: 1548px;">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 113px; text-align: center">账号</th>
                                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 172px; text-align: center">手机号码</th>
                                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 250px; text-align: center">注册时间</th>
                                            <!--<th class="sorting_disabled center" role="columnheader" rowspan="1" colspan="1" style="width: 63px; text-align: center">状态</th>-->
                                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 734px; text-align: center">操作</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="dataTables_scrollBody" style="overflow: auto; width: 100%;">
                            <table class="table table-striped table-bordered bootstrap-datatable dataTable" aria-describedby="DataList_info" style="margin-left: 0; width: 110%;">
                                <thead>
                                    <tr role="row" style="height: 0;">
                                        <th role="columnheader" rowspan="1" colspan="1" style="padding-top: 0; padding-bottom: 0; border-top-width: 0; border-bottom-width: 0; height: 0; width: 114px;"></th>
                                        <th role="columnheader" rowspan="1" colspan="1" style="padding-top: 0; padding-bottom: 0; border-top-width: 0; border-bottom-width: 0; height: 0; width: 173px;"></th>
                                        <th role="columnheader" rowspan="1" colspan="1" style="padding-top: 0; padding-bottom: 0; border-top-width: 0; border-bottom-width: 0; height: 0; width: 251px;"></th>
                                        <th role="columnheader" rowspan="1" colspan="1" style="padding-top: 0; padding-bottom: 0; border-top-width: 0; border-bottom-width: 0; height: 0; width: 730px;"></th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <foreach name="adminlist" item="list">
                                    <tr class="odd">
                                        <td style="vertical-align: middle">{$list.username}</td>
                                        <td style="vertical-align: middle">{$list.mobile}</td>
                                        <td style="vertical-align: middle">{$list.addtime|date="Y-m-d H:i:s",###}</td>
                                        <td style="vertical-align: middle">
                                            <!--<a class="btn btn-info" href="javascript:void(0)"><i class="halflings-icon white zoom-in"></i>查看</a>
                                            <a class="btn btn-success active" href="javascript:void(0)"><i class="halflings-icon white edit"></i>编辑</a>-->
                                            <if condition="$adminInfo['id'] eq 1">
                                                <a class="btn btn-danger active" href="javascript:void(0)" onclick="disabledAdmin({$list['id']},'{$list.username}');"><i class="halflings-icon white remove"></i>删除</a>
                                            </if>
                                            <if condition="$adminInfo['id'] eq $list['id'] or $adminInfo['id'] eq 1">
                                                <a class="btn btn-success active" href="javascript:void(0)" onclick="modifyPassword({$list['id']},'{$list.username}')"><i class="halflings-icon white edit"></i>修改密码</a>
                                            </if>
                                        </td>
                                        <!--<td class="center">
                                            <a class="btn btn-info" style="margin-right: 3px;" href="../User/userInfo?uid=121&amp;operation=2"><i class="halflings-icon white zoom-in"></i>查看</a>
                                            <a class="btn btn-success active" style="    margin-right: 3px;" href="../User/editUser?uid=121"><i class="halflings-icon white edit"></i>编辑</a>
                                            <a class="btn btn-danger active" href="javascript:void(0)" onclick="disabledUser(121);" style="margin-right: 3px;"><i class="halflings-icon white remove"></i>禁用</a>
                                            <a class="btn btn-info" target="__brank" style="margin-right: 3px;" href="../User/friendList?uid=121"><i class="halflings-icon white zoom-in"></i>家人/好友</a>
                                            <a class="btn btn-info" target="__brank" style="margin-right: 3px;" href="../News/newsList?uid=121"><i class="halflings-icon white zoom-in"></i>邻里圈</a>
                                        </td>-->
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {$page}
                </div>
            </div>
        </div>
    </div>
    <!-- 修改密码 -->
    <div class="row-fluid sortable ui-sortable" id="admin-modify">
        <div class="box span12">
            <div class="box-header" data-original-title="">
                <h2><i class="halflings-icon white "></i><span class="break"></span>修改密码</h2>
                <div class="box-icon">
                    <a href="javascript:void(0)" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label">账号</label>
                            <div class="controls">
                                <input class="input-xlarge focused" name="modify-username" type="text" value="" disabled="disabled" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">原密码</label>
                            <div class="controls">
                                <input class="input-xlarge focused" name="modify-oldPassword" type="password">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">新密码</label>
                            <div class="controls">
                                <input class="input-xlarge focused" name="modify-newPassword" type="password">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">再次输入新密码</label>
                            <div class="controls">
                                <input class="input-xlarge focused" name="modify-confirmPassword" type="password">
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="hidden" name="modify-admin_id" value="">
                            <button type="button" class="btn btn-primary" onclick="modifyDete()">提交</button>
                            <button type="button" class="btn btn-primary" style="margin-left: 100px;" onclick="modifyCancel()">取消</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div><!--/span-->
    </div>

    <script type="text/javascript">
        var p = {$p};
        // 删除数据
        function disabledAdmin(admin_id,adminusername)
        {
            var length = $(".odd").length;
            layer.confirm('确认要删除吗？', {
                btn : [ '确定', '取消' ]//按钮
            }, function(index) {
                layer.close(index);
                load();
                $.ajax({
                    type : 'post',
                    url : "{:url('Admin/del')}",
                    data : {admin_id:admin_id, adminusername:adminusername},
                    dataType : 'json',
                    success : function(ret){
                        console.log(ret);
                        layer.closeAll();
                        if(ret.ret === 1){
                            if(length == 1){
                                p = p*1-1;
                            }
                            ajaxUrl("admin/list/p/"+p);
                        }else{
                            layer.msg(ret.msg,{icon:2,time:3000});
                            layer.close(_index);
                        }
                    }
                })
            });
        }

        // 修改密码页面
        function modifyPassword(admin_id,admin_username)
        {
            $("#admin-list").css('display','none');
            $("#admin-modify").css('display','block');
            $("input[name='modify-username']").val(admin_username);
            $("input[name='modify-admin_id']").val(admin_id);
        }

        // 确认修改密码
        function modifyDete()
        {
            var admin_id = $("input[name='modify-admin_id']").val(),
                oldPassword = $("input[name='modify-oldPassword']").val(),
                newPassword = $("input[name='modify-newPassword']").val(),
                confirmPassword = $("input[name='modify-confirmPassword']").val();
            if(!$.trim(admin_id)){
                return false;
            }
            if($.trim(oldPassword).length < 6 || $.trim(newPassword).length < 6 || $.trim(confirmPassword).length < 6){
                layer.msg("密码位数不能少于六位！",{icon:2,time:3000});
                return false;
            }
            if($.trim(newPassword) != $.trim(confirmPassword)){
                layer.msg("新密码输入不一致",{icon:2,time:3000});
                return false;
            }
            load();
            $.ajax({
                type : 'post',
                url : "{:url('Admin/modify')}",
                data : {admin_id:$.trim(admin_id), oldPassword:$.trim(oldPassword), newPassword:$.trim(newPassword)},
                dataType : 'json',
                success : function(ret){
                    console.log(ret);
                    layer.closeAll();
                    if(ret.ret === 1){
                        layer.msg(ret.msg,{icon:1,time:2000});
                        modifyCancel();
                    }else{
                        layer.msg(ret.msg,{icon:2,time:3000});
                    }
                }
            })
        }

        // 取消修改密码
        function modifyCancel()
        {
            $("input[name='modify-username']").val("");
            $("input[name='modify-admin_id']").val("");
            $("input[name='modify-oldPassword']").val("");
            $("input[name='modify-newPassword']").val("");
            $("input[name='modify-confirmPassword']").val("");
            $("#admin-modify").css('display','none');
            $("#admin-list").css('display','block');
        }

        // 页面跳转
        $(".pagination ul li a").click(function () {
            var p = $(this).data("p");
            if(typeof(p) !== "undefined"){
                load();
                ajaxUrl("admin/list/p/"+p);
            }
        });
    </script>
</block>