<div class="dataTables_wrapper" role="grid">
        <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0; width: 100%;">
            <div class="dataTables_scrollHeadInner" style="padding-right: 0;">
                <table class="table table-striped table-bordered bootstrap-datatable dataTable" style="margin-left: 0;">
                    <thead>
                    <tr role="row">
                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 15%; text-align: center">订单编码</th>
                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 7%; text-align: center">下单ID</th>
                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 7%; text-align: center">收货人名称</th>
                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 8%; text-align: center">收货人电话</th>
                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 15%; text-align: center">收货人地址</th>
                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 7%; text-align: center">订单总价</th>
                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 10%; text-align: center">下单时间</th>
                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 5%; text-align: center">订单状态</th>
                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 5%; text-align: center">送货状态</th>
                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 5%; text-align: center">付款状态</th>
                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 16%; text-align: center">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="dataTables_scrollBody" style="overflow: auto; width: 100%;">
            <table class="table table-striped table-bordered bootstrap-datatable dataTable" aria-describedby="DataList_info" style="margin-left: 0; width: 110%;">
                <thead>
                <tr role="row" style="height: 0;">
                    <th role="columnheader" rowspan="1" colspan="1" style="padding: 0; height: 0; width: 15%;"></th>
                    <th role="columnheader" rowspan="1" colspan="1" style="padding: 0; height: 0; width: 7%;"></th>
                    <th role="columnheader" rowspan="1" colspan="1" style="padding: 0; height: 0; width: 7%;"></th>
                    <th role="columnheader" rowspan="1" colspan="1" style="padding: 0; height: 0; width: 8%;"></th>
                    <th role="columnheader" rowspan="1" colspan="1" style="padding: 0; height: 0; width: 15%;"></th>
                    <th role="columnheader" rowspan="1" colspan="1" style="padding: 0; height: 0; width: 7%;"></th>
                    <th role="columnheader" rowspan="1" colspan="1" style="padding: 0; height: 0; width: 10%;"></th>
                    <th role="columnheader" rowspan="1" colspan="1" style="padding: 0; height: 0; width: 5%;"></th>
                    <th role="columnheader" rowspan="1" colspan="1" style="padding: 0; height: 0; width: 5%;"></th>
                    <th role="columnheader" rowspan="1" colspan="1" style="padding: 0; height: 0; width: 5%;"></th>
                    <th role="columnheader" rowspan="1" colspan="1" style="padding: 0; height: 0; width: 16%;"></th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                <foreach name="$goods" item="list">
                    <tr class="odd">
                        <td style="vertical-align: middle; text-align: center">{$list.order_sn}</td>
                        <td style="vertical-align: middle; text-align: center">{$list.uid}</td>
                        <td style="vertical-align: middle; text-align: center">{$list.people}</td>
                        <td style="vertical-align: middle; text-align: center">{$list.phone}</td>
                        <td style="vertical-align: middle;">{$list.address}</td>
                        <td style="vertical-align: middle;">￥: {$list.total}</td>
                        <td style="vertical-align: middle;">{$list.addtime|date="Y-m-d H:i:s",###}</td>
                        <td style="vertical-align: middle;">
                            <switch name="list.order_state">
                                <case value="1">已完成</case>
                                <case value="2">会员取消</case>
                                <default />未完成
                            </switch>
                        </td>
                        <td style="vertical-align: middle;">
                            <switch name="list.delivery_state">
                                <case value="1">等待出货</case>
                                <case value="2">正在送货</case>
                                <case value="3">完成签收</case>
                                <default />等待付款
                            </switch>
                        </td>
                        <td style="vertical-align: middle; text-align: center">
                            <switch name="list.payment_state">
                                <case value="1">已付款</case>
                                <default />未付款
                            </switch>
                        </td>
                        <td>
                            <a class="btn btn-info" style="margin-right: 3px;" href="javascript:void(0)" onclick="editGoods('{$list.order_sn}')"><i class="halflings-icon white zoom-in"></i>查看</a>
                            <if condition="$list.order_state eq 1 && $list.payment_state eq 1 && $list.delivery_state eq 3">
                                <a class="btn btn-danger active" href="javascript:void(0)" onclick="delOrder('{$list.order_sn}')" style="margin-right: 3px;"><i class="halflings-icon white remove"></i>删除</a>
                            </if>
                        </td>
                    </tr>
                </foreach>
                </tbody>
            </table>
        </div>
    </div>
    {$page}
</div>